//app
APP_URL= http://localhost:8081
APP_FRONT_URL= https://www.google.com/

//database
DB_URL= jdbc:postgresql://localhost:5432/folioflex
DOCKER_DB_URL= jdbc:postgresql://host.docker.internal:5432/folioflex
DB_USER= xxxxx
DB_PASSWORD= xxxxxxx

// security
JWT_SECRET_KEY= xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

// mail
MAIL_HOST= sandbox.smtp.mailtrap.io
MAIL_PORT= 2525
MAIL_USERNAME= xxxxxxxxxxxxx
MAIL_PASSWORD= xxxxxxxxxxxx

//ai
GEMINI_API_KEY= xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GEMINI_API_URL=https://generativelanguage.googleapis.com/v1/models/gemini-1.5-pro:generateContent
